/**** FILTERS ****/
.filters {
    color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
}

.search {
    font-size: 18px;
    background-color: #FF5A5F;
    color: white;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin: auto;
    display: inline-block;
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
}

.search:hover {
    opacity: 0.9;
}

.popover {
    display: none;
    background-color: #FAFAFA;
    width: 100%;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    margin: 0;
    list-style: none;
    padding: 0px 35px;
    position: relative;
}

.locations:hover .popover{
    display: inline-block;
    width: 72%; /*aligns right border dropdown*/
}

.amenities:hover .popover{
    display: inline-block;
    width: 72%; /*aligns right border dropdown*/
}

.locations {
    height: 100%;
    width: 25%;
    border-right:  #DDDDDD 1px solid;
    display: inline-block;
    float: left;
    color: black;
    line-height: 35px;
}

.amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    float: left;
    color: black;
    line-height: 35px;
}

h3 {
    font-weight: 600;
    width: 100%;
    margin: 0px;
    margin-left: 35px
}

h4 {
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    margin: 0px;
    margin-left: 35px;
}

.inside {
    list-style: none;
}