/**** PLACES ****/
.places {
    left: 0;
    top: 0;
    text-align: center;
}

.places h1 {
    font-size: 30px;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    position: relative;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px rounded solid;
    min-width: 60px;
    height: 60px;
    font size: 30px;
    /* ALIGN THE TOP RIGHT (WITH SPACE)? */
}

.informations {
    height: 80px;
    border-top: #DDDDDD 1px;
    border-bottom: #DDDDDD 1px;
}

.max-guest: {
    width: 100px;
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
}

.number_rooms {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
}

.number_bathrooms {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
}
